plugins = []
headers = []
redirects = []

[functions]

[functions."*"]

[build]
publish = "/Users/sc5803/Desktop/2025fall/GenAI/prompt-chess-game-vibe-coding-exercise"
publishOrigin = "default"

[build.environment]

[build.processing]

[build.processing.css]

[build.processing.html]

[build.processing.images]

[build.processing.js]

[build.services]